{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class ="my-5">About Page</h3>

    <p>A blog can be utilized as a platform to showcase your knowledge and expertise.
        Publishing blog posts that are accurate, timely, relevant, and informative will eventually
        get the attention of industry insiders and earn you recognition as an authoritative source and
        thought-leader.</p>
    <p>Blogging is a great way for aspiring authors and freelance writers to build up an online portfolio.
        By showcasing their writing skills on large platforms with expansive reach, freelancers can grow
        their exposure and sign new clients.</p>
</div>

{% endblock content %}